# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Topics/Getting substrings/Exchange/out/
/Topics/Getting substrings/Exchange/out/production/classes/
/Encryption-Decryption/Choise, choise/
/Encryption-Decryption/Decrypted/
/Encryption-Decryption/Encrypted/
/Encryption-Decryption/I command you/
/Encryption-Decryption/Knowledge is key/
/Encryption-Decryption/X-files/
